/* style.css */


body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: "DM Serif Text", serif;
}

header {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    padding: 10px;
}

a.mainlogo {
    display: flex;
    align-content: center;
}

.mainlogo img {
    margin: auto;
    margin-right: 20px;
    height: 70px;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}


.mainlogo img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}

nav ul{
    display: flex;
    align-items: center;
    height: 70px;
}

nav ul li {
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    min-width: 100px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    text-decoration: none;
    font-size: 16px;
    transition-property: background-color, border-radius, font-size;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-out, ease-out, ease-out;
}

    .btn:hover {
        background-color: #2462AB;
        color: #fff;
        border-radius: 5px;
        font-size: 20px;
    }

body {
    color: #000;
    background-color: #c3c3c3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 24px;
}

main h1 {
    font-size: 56px;
    margin: 24px;
}

div.splash {
    padding: 50px;
    filter: drop-shadow(#4f4f4f 5px 5px 10px);
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}
