/* style.css */


body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: "DM Serif Text", serif;
}

header {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
}

a.mainlogo {
    display: flex;
    align-content: center;
}

.mainlogo img {
    margin: auto;
    height: 60px;
    transition: height 0.3s ease-out;
}


.mainlogo img:hover {
    height: 70px;
    transition:height 0.3s ease-out;
}

nav ul{
    display: flex;
    align-items: center;
    height: 70px;
}

nav ul li {
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    margin: 10px;
    margin-top: 25px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    min-width: 80px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-style: italic;
    text-decoration: none;
    font-size: 18px;
    transition-property: background-color, border-radius, font-size;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-out, ease-out, ease-out;
}

    .btn:hover {
        background-color: #2462AB;
        color: #fff;
        border-radius: 5px;
        font-size: 22px;
    }

body {
    color: #000;
    background-color: #e5e5e5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 24px;
}

main h1 {
    font-size: 56px;
    margin-bottom: 24px;
}

main h2 {
    font-size: 32px;
    margin: 12px;
}

div.splash {
    padding: 50px;
    filter: drop-shadow(#4f4f4f 5px 5px 10px);
    max-width: 50%;
}

div.content {
    margin: 24px;
    padding: 50px;
    padding-top: 20px;
    background-color: #fff;
    width: 700px;
    min-height: 400px;
    filter: drop-shadow(#4f4f4fa0 5px 5px 10px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#homepage-1 {
    background-image:
        linear-gradient(to top, rgba(255, 255, 255, 0) 25%, white 75%) ,
        url('assets/examples/Dodgeville 2.jpg');
    
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}
